<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="https://apps.preview.powerapps.com/play/36e50af6-9ccc-436d-9c19-f5610fb8f2c3?tenantId=7e61f3a9-5db2-422c-8c3c-d46a7deb7750"/>
		<add key="dvuser" value="testuser" />
		<add key="dvpass" value="testpass" />
	</appSettings>
</configuration>
